:root {
  --background-color: rgba(0, 0, 0, 0)
}
body {
  font-family: 'Archivo','NotoSansCJKkr';
  font-weight: bold;
  transition: background-color 0.5s;
  &.scrollNone {
    overflow: hidden;
  }
}
.dark { background-color: #000; }
#container {
  position: relative;
  width: 100%;
}
.text {
  font-size: $small-text;
  &.small {
    font-size: 1.5rem;
  }
}
.blind{
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
  margin: -1px;
}
.tablet_br,
.mobile_br { display: none; }
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .text {
    font-size: $tablet_small-text;
  }
  .tablet_br { display: block; }
}
@media screen and (max-width: 750px) {
  .mobile_br { display: block; }
}