:root {
  --background-color: rgba(0, 0, 0, 0)
}
body {
  font-family: 'Archivo,NotoSansCJKkr';
  font-weight: bold;
}
#contianer {
  width: 100%;
}
.text {
  font-size: $small-text;
  &.small {
    font-size: 1.5rem;
  }
}
.blind{
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
  margin: -1px;
}