.main {
  &__wrap {
    position: relative;
    width: 100%;
    height: 600vh;
  }
  &__cont {
    @include sticky;
    width: 100%;
    height: 100vh;
    video { width: 100%; height: 100%; object-fit: cover;}
    .text {
      opacity: 0;
      @include positionCenter;
      color: #fff;
    }
    &::before {
      @include beforeBgCont;
    }
    .ic-arrow {
      position: absolute;
      left: 50%;
      bottom: 50px;
      transform: translateX(-50%);
    }
  }
}