.service {
  width: 100%;
  height: 1000vh;
  &__top {
    opacity: 1;
    height: 400vh;
    &--wrap {
      @include sticky;
      width: 100%;
      height: 100vh;
      overflow-x: hidden;
    }
    &--cont {
      display: flex;
      align-items: center;
      gap: 160px;
      height: 100vh;
      padding-left: 100px;
    }
    &--title {
      font-size: $middle-text;
      color: #fff;
    }
    @media screen and (min-width: 751px) and (max-width: 1024px) {
      &--cont {
        padding-left: 60px;
      }
      &--title {
        font-size: $tablet_middle-text;
      }
    }
  }

  .card {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    &__item {
      position: relative;
      width: 400px;
      height: 540px;
      padding: 34px;
      background-color: #000;
      border: 2px solid #fff;
      border-radius: 20px;
      &--tit {
        position: relative;
        height: 100px;
        color: #fff;
        font-size: 50px;
        line-height: 1;
        &::before {
          content: "****";
          position: absolute;
          top: 0;
          right: 0;
          font-size: 30px;
        }
      }
      &--content {
        margin: 56px 0;
        img {
          width: 85%;
          height: auto;
        }
      }
      &--info {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 34px;
        left: 34px;
        right: 34px;
        font-size: 24px;
        color: #fff;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          background: url(../images/card-icon.png) center / contain no-repeat;
        }
      }
      &--lock {
        position: relative;
        padding: 0;
        @include borderGradient;
        .icon__wrap {
          &--img {
            opacity: 0;
            @include positionCenter;
            width: 150px;
            height: auto;
            &.open {
              opacity: 1;
            }
          }
        }
      }
    }
    @media (max-width: 1440px) {
      &__item {
        width: 303px;
        height: 408px;
        padding: 24px;
        &--tit {
          height: 72px;
          font-size: 36px;
        }
        &--content {
          margin: 28px 0;
        }
        &--info {
          bottom: 24px;
          left: 24px;
          right: 24px;
          font-size: 1rem;
        }
        &--lock {
          position: relative;
          padding: 0;
          @include borderGradient;
          .icon__wrap {
            &--img {
              opacity: 0;
              @include positionCenter;
              width: 150px;
              height: auto;
              &.open {
                opacity: 1;
              }
            }
          }
        }
      }
      &__item {
        width: 303px;
        height: 408px;
      }
    }
  }
  &__main {
    --progress-opacity: 0;
    opacity: 0;
    display: flex;
    gap: 260px;
    width: 100%;
    height: 410vh;
    margin-top: -100vh;
    @include contInnerPadding;
    .card__item--sticky {
      display: flex;
      align-items: center;
      @include sticky;
      height: 100vh;
      .card__item--lock {
        @include flexCenter;
        .icon__wrap {
          &--text {
            opacity: var(--progress-opacity);
            @include textGradient;
            font-size: 40px;
          }
        }
      }
    }
    .content {
      flex: 1;
      padding-top: 100vh;
      overflow: hidden;
      .text { color: #fff; }
      &__title {
        font-size: $middle-text;
        line-height: 1.4;
        letter-spacing: -2px;
      }
      &__desc {
        max-width: 750px;
        margin-top: 34px;
        font-size: 24px;
      }
      &__info {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 80px;
        .info {
          display: flex;
          align-items: center;
          gap: 50px;
          &__box {
            @include flexCenter;
            width: 400px;
            height: 200px;
            @include borderGradient;
            &--text {
              @include textGradient;
              font-size: 28px;
              text-align: center;
            }
          }
          &__title {
            font-size: 28px;
            color: #fff;
          }
        }
      }
      &__serviceList {
        margin-top: 160px;
        &--title {
          margin-bottom: 80px;
          font-size: 60px;
          color: #fff;
        }
        &--wrap {
          display: flex;
          gap: 50px;
          .serviceList__item {
            display: flex;
            flex-direction: column;
            width: 300px;
            &--img {
              width: 100%;
            }
            &--info {
              margin-top: 24px;
              font-size: 24px;
              color: #fff;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1440px) {
    &__main {
      gap: 7vw;
      height: 360vh;
      .card__item--sticky {
        width: 208px;
        .card__item--lock {
          width: 208px;
          height: 280px;
          .icon__wrap {
            &--text {
              font-size: 24px;
            }
          }
        }
      }
      .content {
        width: calc(100% - 208px - 7vw);
        &__title {
          font-size: $tablet_middle-text;
        }
        &__desc {
          font-size: 1rem;
        }
        &__info {
          margin-top: 40px;
          gap: 24px;
          .info {
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            &__box {
              max-width: 340px;
              height: 150px;
              &--text {
                font-size: 24px;
              }
            }
            &__title {
              font-size: 16px;
            }
          }
        }
        &__serviceList {
          margin-top: 80px;
          &--title {
            margin-bottom: 40px;
            font-size: $tablet_middle-text;
          }
          &--wrap {
            gap: 24px;
            .serviceList__item {
              width: calc((100% - 48px) / 3);
              &--info {
                margin-top: 24px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  &__bottom {
    --progress-opacity: 0;
    height: 300vh;
    margin-top: -100vh;
    &--cont {
      @include sticky;
      width: 100%;
      height: 100vh;
      overflow-x: hidden;
    }
    .card {
      display: flex;
      align-items: center;
      height: 100vh;
      @include contInnerPadding;
      &__item {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        border-color: transparent;
        & > * { position: relative; }
        @for $i from 1 to 4 {
          &:nth-child(#{$i}) {
            z-index: calc(4 - $i);
          }
        }
        &:not(.card__item--lock) {
          border: none;
        }
        &--lock {
          opacity: 0;
          @include flexCenter;
          .icon__wrap {
            &--text {
              @include textGradient;
              font-size: 40px;
            }
          }
        }
        &--content {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          margin: 0;
          img {
            filter: blur(calc(50px * var(--progress-opacity)));
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &--desc {
          opacity: var(--progress-opacity);
          flex: 1;
          margin-top: 44px;
          color: #fff;
        }
        &--info {
          gap: 9px;
          font-size: 16px;
          & span {
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }
          &[data-bg-type="1"] span { background-color: #ff009d; }
          &[data-bg-type="2"] span { background-color: #0049ff; }
          &[data-bg-type="3"] span { background-color: #26ff00; }
        }
      }
    }
    @media (max-width: 1440px) {
      .card {
        &__item {
          &--lock {
            .icon__wrap {
              &--text {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
  &__footer {
    --progress-opacity: 0;
    opacity: 0;
    position: relative;
    width: 100%;
    height: 200vh;
    margin-top: -100vh;
    &--content {
      overflow: hidden;
      display: flex;
      align-items: center;
      gap: 200px;
      @include sticky;
      height: 100vh;
      @include contInnerPadding;
      .card__item {
        position: relative;
        &--lock {
          @include flexCenter;
          &::before {
            opacity: var(--progress-opacity);
            content: "";
            position: absolute;
            width: 160%;
            height: 160%;
            background: url(../images/card-glow.png) center / contain no-repeat;
          }
          .icon__wrap {
            @include flexCenter;
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #000;
            border-radius: 20px;
            &--text {
              @include textGradient;
              font-size: 40px;
            }
          }
        }
      }
      & > .text {
        opacity: var(--progress-opacity);
        font-size: $middle-text;
        color: #fff;
      }
    }
    @media (max-width: 1440px) {
      &--content {
        gap: 100px;
        .card__item {
          &--lock {
            .icon__wrap {
              &--text {
                font-size: 24px;
              }
            }
          }
        }
        & > .text {
          font-size: $tablet_middle-text;
        }
      }
    }
  }
}