.creator {
  height: 300vh;
  &__wrap {
    @include sticky;
    width: 100%;
    height: 100vh;
    background: url(../images/creator.jpg) center / 100% auto no-repeat;
  }
  &__intro {
    opacity: 0;
    position: absolute;
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    &--title {
      margin-bottom: 25px;
      font-size: 60px;
      line-height: 1.2;
    }
    &--desc {
      font-size: 24px;
    }
  }
  @media screen and (min-width: 751px) and (max-width: 1024px) {
    &__wrap {
      background: url(../images/creator.jpg) center / cover no-repeat;
    }
    &__intro {
      left: 80px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      &--title {
        margin-bottom: 25px;
        font-size: $tablet_middle-text;
        line-height: 1.2;
      }
      &--desc {
        font-size: 1rem;
      }
    }
  }
}