.use {
  width: 100%;
  height: max(100vh, 2856px);
  margin-top: 10vh;
  &__wrap {
    @include sticky;
    width: 100%;
    height: max(100vh, 940px);
    overflow-x: hidden;
    &--sticky {
      display: flex;
      align-items: center;
      gap: 160px;
      height: max(100vh, 940px);
      @include contInnerPadding;
    }
  }
  &__title {
    .Text {
      font-size: $middle-text;
      line-height: 1.27;
    }
  }
  &__item {
    display: flex;
    gap: 40px;
  }
  .card {
    &__item {
      position: relative;
      width: 400px;
      height: 540px;
      padding: 32px;
      border-radius: 20px;
      &:nth-child(1) {
        overflow: hidden;
        .blurImg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: hsla(0, 0%, 42%, 1);
          object-fit: cover;
          filter: blur(15px);
        }
        .card__item--tit::before {
          content: "****";
          position: absolute;
          top: 0;
          right: 0;
          font-size: 30px;
        }
        .content__item--desc {
          opacity: 0;
        }
        &.content__item--active {
          .content__item--desc {
            opacity: 1;
          }
        }
        .card__item--info::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          background: url(../images/card-icon.png) center / contain no-repeat;
        }
      }
      &:nth-child(2) {
        background-color: #0049ff;
      }
      &:nth-child(3) {
        background-color: #000;
      }
      &:nth-child(4) {
        background-color: #00bf41;
      }
      &--tit {
        position: relative;
        color: #fff;
        font-size: 50px;
        line-height: 1.21;
      }
      &--content {
        position: relative;
        margin-top: 40px;
        .content {
          &__wrap {
            display: flex;
            flex-direction: column;
            gap: 30px;
          }
          &__item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            color: #fff;
            &--tit {
              font-size: 20px;
            }
            &--desc {
              display: block;
              width: 100%;
            }
          }
        }
      }
      &--info {
        display: flex;
        align-items: center;
        position: absolute;
        left: 34px;
        bottom: 34px;
        width: calc(100% - 64px);
        color: #fff;
        &::before {
          content: "";
          width: 40px;
          height: 40px;
          margin-right: 10px;
          background-color: #ff009d;
          border-radius: 50%;
        }
      }
      .img {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: hsla(0, 0%, 42%, 1);
          &::before {
            opacity: 0;
            transition: opacity .5s;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-blend-mode: multiply;
            background-color: hsla(0, 0%, 42%, .3);
          }
          &.blur { 
            &::before {
              opacity: 1;
            }
            img {
              transition: filter .5s;
              width: 100%;
              filter: blur(50px);
            }
          }
      }
    }
  }
  &__desc {
    .Text {
      font-size: 24px;
    }
  }
  @media (max-width: 1440px) {
    .card {
      &__item {
        width: 303px;
        height: 403px;
        padding: 24px;
        &--tit {
          font-size: 36px;
        }
        &--content {
          margin-top: 24px;
          .content {
            &__wrap {
              gap: 16px;
            }
            &__item {
              gap: 4px;
              &--tit {
                font-size: 20px;
              }
              &--desc {
                font-size: 14px;
              }
            }
          }
        }
        &--info {
          left: 24px;
          bottom: 24px;
          width: calc(100% - 48px);
        }
      }
    }
  }
  @media screen and (min-width: 751px) and (max-width: 1024px) {
    &__wrap {
      &--sticky {
        gap: 80px;
      }
    }
    &__title {
      .Text {
        font-size: $tablet_middle-text;
      }
    }
    &__item {
      display: flex;
      gap: 40px;
    }
    &__desc {
      .Text {
        font-size: 1rem;
      }
    }
  }
  @media screen and (max-width: 750px) {
    &__wrap {
      &--sticky {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
      }
    }
    &__title {
      margin: 13vh 0 36px;
      .Text {
        font-size: $tablet_middle-text;
      }
    }
    .card {
      gap: 32px;
      &__item {
        width: 382px;
        height: 504px;
        &--content {
          .content {
            &__item {
              &--desc {
                font-size: 1rem;
                br { display: none; }
              }
            }
          }
        }
      }
    }
    &__desc {
      margin-top: auto;
      .Text {
        font-size: 20px;
        br {
          display: none;
        }
      }
    }
  }
}