.desc-2 {
  &__top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    @include contInnerPadding;
    & > * {
      width: 50%;
    }
    &--tit {
      padding-bottom: 15%;
      font-size: $middle-text;
      line-height: 1.28em;
      font-weight: bold;
    }
    &--text {
      padding-top: 15%;
      padding-left: 100px;
    }
  }
  &__bottom {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 70vh;
    background: url(../images/sc-desc2.jpg) center / cover no-repeat;
    --progress-width: 0;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: var(--progress-width);
      height: 140px;
      background-color: #fff;
    }
    &::before {
      top: 0;
      right: 0;
    }
    &::after {
      bottom: 0;
      left: 0;
    }
    &--text {
      @include positionCenter;
      color: #fff;
      .text {
        width: fit-content;
        font-size: $middle-text;
        &:nth-child(3) {
          margin-left: auto;
        }
      }
    }
  }
  @media screen and (min-width: 751px) and (max-width: 1024px) {
    &__top {
      flex-direction: column;
      align-items: normal;
      &--tit {
        padding-bottom: 0;
        font-size: $tablet_middle-text;
        line-height: 1.28em;
        font-weight: bold;
      }
      &--text {
        padding-top: 0;
        padding-left: 30px;
        margin-left: auto;
        .text {
          font-size: 1rem;
          line-height: 1.75;
          br { display: none; }
        }
      }
    }
    &__bottom {
      background: url(../images/sc-desc2.jpg) center / cover no-repeat;
      &--text {
        .text {
          font-size: 30px;
        }
      }
    }
  }
  @media screen and (max-width: 750px) {
    &__top {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      &--tit {
        width: 100%;
        padding-bottom: 0;
        font-size: 44px;
      }
      &--text {
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        margin: 24px 0 0 0;
        .text {
          font-size: 1rem;
          line-height: 1.75;
          br { display: none; }
        }
      }
    }
    &__bottom {
      background: url(../images/sc-desc2.jpg) center / cover no-repeat;
      &--text {
        .text {
          font-size: 30px;
        }
      }
    }
  }
}