.gallery {
  &__wrap {
    width: 100%;
    @include contInnerPadding;
  }
  &__cont {
    display: flex;
    &--left {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      @include sticky;
      flex: 0 0 470px;
      height: 100vh;
      .text {
        font-size: $middle-text;
      }
    }
    &--right {
      flex: 0 0 calc(100% - 470px);
      height: 100%;
      padding: 100vh 0;
      box-sizing: border-box;
    }
    .cont__right {
      &--rightBox {
        margin-left: auto;
      }
      .right__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100vh;
        &--img {
          width: 100%;
          height: auto;
        }
        &--title {
          margin-top: 15px;
          font-weight: 600;
        }
      }
    }
  }
  @media screen and (min-width: 751px) and (max-width: 1024px) {
    &__cont {
      &--left {
        flex: 0 0 290px;
        .text {
          font-size: 40px;
        }
      }
      &--right {
        flex: 0 0 calc(100% - 290px);
      }
      .cont__right {
        .right__box {
          height: auto;
        }
      }
    }
  }
}