.desc {
  &__topCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    @include contInnerPadding;
    & > * {
      width: 50%;
    }
    &--tit {
      font-size: $middle-text;
      line-height: 1.28em;
      font-weight: bold;
    }
    &--text {
      margin-left: auto;
      line-height: 1.7;
    }
  }
  &__bottomCont {
    position: relative;
    width: 100%;
    height: 70vh;
    background: url(../images/sc-desc.jpg) center / cover no-repeat;
    --progress-width: 0;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: var(--progress-width);
      height: 140px;
      background-color: #fff;
    }
    &::before {
      top: 0;
      right: 0;
    }
    &::after {
      bottom: 0;
      left: 0;
    }
    &--text {
      @include positionCenter;
      color: #fff;
      .text {
        width: fit-content;
        font-size: $middle-text;
        &:nth-child(3) {
          margin-left: auto;
        }
      }
    }
  }
  @media screen and (min-width: 751px) and (max-width: 1024px) {
    &__topCont {
      &--tit {
        font-size: $tablet_middle-text;
      }
      &--text {
        padding-left: 40px;
        .text{
          &.small {
            font-size: 1rem;
          }
        }
      }
    }
    &__bottomCont {
      &--text {
        .text {
          font-size: $tablet_middle-text;
        }
      }
    }
  }
}