@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-SemiBold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Bold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Bold.woff2") format("woff2");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

input, button, select {
  border: 0;
  appearance: none;
}

select:focus {
  outline: none;
}

body {
  font-family: "Archivo", "NotoSansCJKkr";
  word-wrap: break-word;
  word-break: keep-all;
  transition: background 0.5s;
}

:root {
  --background-color: rgba(0, 0, 0, 0);
  --window-width: 0;
  --window-height: 0;
}

body {
  font-family: "Archivo", "NotoSansCJKkr";
  font-weight: bold;
  transition: background-color 0.5s;
}
body.scrollNone {
  overflow: hidden;
}

.dark {
  background-color: #000;
}

#container {
  position: relative;
  width: 100%;
}

.text {
  font-size: 52px;
}
.text.small {
  font-size: 1.5rem;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.tablet_br,
.mobile_br {
  display: none;
}

@media screen and (min-width: 751px) and (max-width: 1024px) {
  .text {
    font-size: 26px;
  }
  .tablet_br {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .mobile_br {
    display: block;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .header {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .header {
    padding: 0 24px;
  }
}
.header .logo a {
  display: block;
  transition: filter 0.5s;
  padding: 17px 0;
  filter: invert(0);
}
.header .logo a img {
  width: 100px;
}
.header .gnb__list {
  display: flex;
  align-items: center;
}
.header .gnb__list--item {
  position: relative;
  transition: color 0.5s;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  line-height: 1;
}
.header .gnb__list--item > a {
  padding: 23px 25px;
}
.header .gnb__list--item .btn-lang {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 23px 0 23px 25px;
}
.header .gnb__list--item .btn-lang svg {
  filter: invert(1);
  transition: filter 0.5s;
}
.header .gnb__list--item .lang-list {
  display: none;
  position: absolute;
  top: 55px;
  right: 0;
  background-color: #000;
  border: 1px solid #5a5a5a;
  border-radius: 6px;
}
.header .gnb__list--item .lang-list a {
  opacity: 0.2;
  display: block;
  padding: 6px 13px;
  color: #fff;
}
.header.on .logo a {
  filter: invert(1);
}
.header__hamburger {
  display: none;
}
.header__mobileMenu {
  display: none;
}
@media screen and (max-width: 750px) {
  .header .logo a img {
    width: 50px;
  }
  .header .gnb {
    display: none;
  }
  .header__hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__hamburger--wrap {
    position: relative;
    width: 24px;
    height: 14px;
  }
  .header__hamburger--item {
    position: absolute;
    transition: all 0.3s linear;
    height: 2px;
    background-color: #000;
  }
  .header__hamburger--top {
    top: 0;
    right: 0;
    width: 12px;
  }
  .header__hamburger--middle {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 24px;
  }
  .header__hamburger--bottom {
    bottom: 0;
    right: 0;
    width: 24px;
  }
  .header__hamburger.on {
    z-index: 10;
  }
  .header__hamburger.on .header__hamburger--top {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 24px;
    background-color: #000;
  }
  .header__hamburger.on .header__hamburger--middle {
    display: none;
  }
  .header__hamburger.on .header__hamburger--bottom {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #000;
  }
  .header__mobileMenu {
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -100vh;
    left: 0;
    transition: all 0.4s linear;
    width: 100%;
    height: 100vh;
    padding: 70px 24px 24px;
    background-color: #fff;
  }
  .header__mobileMenu .item__link {
    display: inline-block;
    padding: 14px 0;
    font-size: 32px;
  }
  .header__mobileMenu .item__wrap {
    display: flex;
    gap: 20px;
  }
  .header__mobileMenu .item__wrap .item__link {
    color: #c0c0c0;
  }
  .header__mobileMenu .item__wrap .item__link.active {
    color: #000;
  }
  .header__mobileMenu > * {
    opacity: 0;
    transition: opacity 0.45s 0.4s;
  }
  .header__mobileMenu.on {
    opacity: 1;
    top: 0;
  }
  .header__mobileMenu.on > * {
    opacity: 1;
    transition: opacity 0.45s 0.4s;
  }
}

.dark .header .gnb__list--item,
.header.on .gnb__list--item {
  color: #fff;
  transition: color 0.5s;
}

.dark .header .gnb__list--item .btn-lang svg,
.header.on .gnb__list--item .btn-lang svg {
  filter: invert(0);
  transition: filter 0.5s;
}

.header.on .header__hamburger--item {
  background-color: #fff;
}

.scrollNone .header.on .header__hamburger--item {
  background-color: #000;
}

.main__wrap {
  position: relative;
  width: 100%;
  height: 600vh;
}
.main__content {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.main__content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.main__content .text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.main__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}
.main__content .ic-arrow {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .main__content--text {
    font-size: 24px;
    white-space: noWrap;
  }
}
@media screen and (max-width: 750px) {
  .main__content--text {
    max-width: 375px;
    width: 100%;
    padding: 0 24px;
    font-size: 36px;
  }
  .main__content--text br:not(.mobile_br) {
    display: none;
  }
}

.keyword__wrap {
  width: 100%;
  height: 500vh;
}
.keyword__cont {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.keyword__cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 1;
}
.keyword__cont--text {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.keyword__cont--text .text {
  font-size: 100px;
}
.keyword__cont--bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.keyword__cont--bg .bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/sc-keyword1.jpg") center/cover no-repeat;
}
.keyword__cont--bg .bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/sc-keyword2.jpg") center/cover no-repeat;
}
.keyword__cont--bg .bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/sc-keyword3.jpg") center/cover no-repeat;
}
.keyword__cont > .text {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  padding: 32px;
  font-size: 24px;
  color: #fff;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .keyword__cont--text .text {
    font-size: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .keyword__cont > .text br {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .keyword__cont--text .text {
    font-size: 60px;
  }
  .keyword__cont > .text {
    width: 100%;
    font-size: 20px;
  }
}

.desc__topCont {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: max(100vh, 940px);
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .desc__topCont {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .desc__topCont {
    padding: 0 24px;
  }
}
.desc__topCont > * {
  width: 50%;
}
.desc__topCont--tit {
  font-size: 72px;
  line-height: 1.28em;
  font-weight: bold;
}
.desc__topCont--text {
  margin-left: auto;
  line-height: 1.7;
}
.desc__bottomCont {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(../images/sc-desc.jpg) center/cover no-repeat;
  --progress-width: 0;
}
.desc__bottomCont::before, .desc__bottomCont::after {
  content: "";
  position: absolute;
  width: var(--progress-width);
  height: 140px;
  background-color: #fff;
}
.desc__bottomCont::before {
  top: 0;
  right: 0;
}
.desc__bottomCont::after {
  bottom: 0;
  left: 0;
}
.desc__bottomCont--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.desc__bottomCont--text .text {
  width: fit-content;
  font-size: 72px;
}
.desc__bottomCont--text .text:nth-child(3) {
  margin-left: auto;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .desc__topCont--tit {
    font-size: 40px;
  }
  .desc__topCont--text {
    padding-left: 40px;
  }
  .desc__topCont--text .text.small {
    font-size: 1rem;
  }
  .desc__bottomCont--text .text {
    font-size: 40px;
  }
}
@media screen and (max-width: 750px) {
  .desc__topCont {
    gap: 24px;
    height: auto;
    padding: 120px 24px;
  }
  .desc__topCont--tit {
    width: 100%;
    font-size: 44px;
  }
  .desc__topCont--text {
    width: 100%;
    margin-left: 0;
  }
  .desc__topCont--text .text.small {
    font-size: 1rem;
  }
  .desc__topCont--text br {
    display: none;
  }
  .desc__bottomCont::before, .desc__bottomCont::after {
    height: 40px;
  }
  .desc__bottomCont--text .text {
    white-space: noWrap;
    font-size: 32px;
  }
}

.gallery__wrap {
  width: 100%;
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .gallery__wrap {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .gallery__wrap {
    padding: 0 24px;
  }
}
.gallery__cont {
  display: flex;
}
.gallery__cont--left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  left: 0;
  flex: 0 0 470px;
  height: 100vh;
}
.gallery__cont--left .text {
  font-size: 72px;
}
.gallery__cont--right {
  flex: 0 0 calc(100% - 470px);
  height: 100%;
  padding: 100vh 0;
  box-sizing: border-box;
}
.gallery__cont .cont__right--rightBox {
  margin-left: auto;
}
.gallery__cont .cont__right .right__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: max(100vh, 940px);
}
.gallery__cont .cont__right .right__box--img {
  width: 100%;
  height: auto;
}
.gallery__cont .cont__right .right__box--title {
  margin-top: 15px;
  font-weight: 600;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .gallery__cont--left {
    flex: 0 0 290px;
  }
  .gallery__cont--left .text {
    font-size: 40px;
  }
  .gallery__cont--right {
    flex: 0 0 calc(100% - 290px);
  }
  .gallery__cont .cont__right .right__box {
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  .gallery__cont {
    position: relative;
    height: max(400vh, 3808px);
  }
  .gallery__cont--left {
    flex: 0 0 100%;
  }
  .gallery__cont--left .text {
    font-size: 40px;
  }
  .gallery__cont--right {
    flex: 0 0 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: max(300vh, 2856px);
    box-sizing: border-box;
  }
  .gallery__cont .cont__right .right__box {
    width: 77%;
    height: auto;
  }
  .gallery__cont .cont__right .right__box:nth-child(1), .gallery__cont .cont__right .right__box:nth-child(2) {
    margin-bottom: 180px;
  }
}
.possibility {
  width: 100%;
  height: 400vh;
}
.possibility__wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: max(100vh, 940px);
  overflow: hidden;
}
.possibility__cont {
  display: flex;
  align-items: center;
  gap: 160px;
  height: max(100vh, 940px);
  padding-left: 100px;
}
.possibility__cont--tit {
  font-size: 72px;
  color: #fff;
}
.possibility__cont--item {
  display: flex;
  gap: 75px;
}
.possibility__cont--item .item__box {
  width: 300px;
  height: 300px;
}
.possibility__cont--item .item__box--img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: #000;
}
.possibility__cont--item .item__box--img img {
  max-width: 54%;
  height: auto;
}
.possibility__cont--item .item__box:not(:last-child) .item__box--img::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%) rotate(45deg);
  width: 30px;
  height: 30px;
  border: 8px solid #fff;
  border-left: none;
  border-bottom: none;
}
.possibility__cont--item .item__box--text {
  margin-top: 25px;
  font-size: 24px;
  color: #fff;
}
.possibility__cont--graphic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.possibility__cont--graphic .graphic__box {
  position: relative;
}
.possibility__cont--graphic .graphic__box--img {
  max-width: 500px;
  height: auto;
}
.possibility__cont--graphic .graphic__box--1 {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.possibility__cont--graphic .graphic__box--2 {
  left: 10%;
  bottom: 25%;
}
.possibility__cont--graphic .graphic__box--3 {
  right: 10%;
  bottom: 25%;
}
.possibility__cont--graphic .graphic__box .graphic__title {
  position: absolute;
  text-align: center;
}
.possibility__cont--graphic .graphic__box .graphic__title > span {
  display: block;
  color: #fff;
}
.possibility__cont--graphic .graphic__box .graphic__title--main-title {
  font-size: 24px;
}
.possibility__desc {
  position: sticky;
  left: 0px;
  bottom: 4vh;
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .possibility__desc {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .possibility__desc {
    padding: 0 24px;
  }
}
.possibility__desc--text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .possibility__cont {
    padding-left: 60px;
  }
}

@media screen and (max-width: 750px) {
  .possibility {
    height: max(160vh, 1890px);
  }
  .possibility__wrap {
    position: static;
    height: max(100vh, 1890px);
  }
  .possibility__cont {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    height: auto;
    padding-left: 24px;
  }
  .possibility__cont--tit {
    padding: 13vh 0 72px;
    font-size: 44px;
    color: #fff;
  }
  .possibility__cont--item {
    display: flex;
    gap: 75px;
  }
  .possibility__cont--item .item__box--text {
    margin-top: 12px;
    font-size: 1rem;
    text-align: center;
  }
  .possibility__cont--item .item__box--text br {
    display: none;
  }
  .possibility__cont--graphic {
    height: 120vh;
    padding-right: 24px;
  }
  .possibility__cont--graphic .graphic__box {
    position: relative;
    width: 100%;
  }
  .possibility__cont--graphic .graphic__box--img {
    width: 100%;
  }
  .possibility__desc {
    bottom: 290px;
  }
  .possibility__desc--text {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
}
.challange {
  overflow: hidden;
}
.challange__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: max(100vh, 940px);
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .challange__wrap {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .challange__wrap {
    padding: 0 24px;
  }
}
.challange > * {
  color: #fff;
}
.challange__title {
  font-weight: bold;
  color: #fff;
}
.challange__cont {
  box-sizing: border-box;
  margin-left: auto;
  padding-left: 100px;
}
@media screen and (min-width: 1441px) {
  .challange__title {
    font-size: 72px;
    line-height: 1.2em;
  }
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .challange__cont {
    padding-left: 30px;
  }
  .challange__cont .text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 751px) {
  .challange__wrap > * {
    width: 50%;
  }
  .challange__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 750px) {
  .challange__title {
    font-size: 44px;
  }
  .challange__cont {
    margin-left: 0;
    padding-left: 0;
  }
  .challange__cont > .text {
    font-size: 1rem;
  }
  .challange__cont > .text br {
    display: none;
  }
}

.feature__wrap {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.feature__bg {
  --opacity-value: 0;
  display: flex;
  width: 100%;
  height: 175px;
}
.feature__bg > span {
  width: 33.33%;
  height: 100%;
}
.feature__bg--pink {
  background-color: #e657af;
}
.feature__bg--blue {
  background-color: #0049ff;
}
.feature__bg--green {
  background-color: #00bf41;
}
.feature__bg::after {
  opacity: var(--opacity-value);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
}
.feature__title {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
  white-space: noWrap;
}
@media screen and (min-width: 751px) {
  .feature__title {
    font-size: 24px;
    line-height: 1.25;
  }
}
@media screen and (max-width: 750px) {
  .feature__bg {
    flex-direction: column;
    height: 360px;
  }
  .feature__bg > span {
    width: 100%;
  }
  .feature__bg > span.feature__bg--pink {
    height: 33.33%;
  }
  .feature__bg > span.feature__bg--blue, .feature__bg > span.feature__bg--green {
    height: 10%;
  }
  .feature__title {
    font-size: 24px;
    text-align: center;
  }
}

.service {
  width: 100%;
  height: max(1022vh, 9500px);
}
.service__top {
  opacity: 1;
  height: max(400vh, 3408px);
}
.service__top--wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--window-height, 100vh);
  overflow-x: hidden;
}
.service__top--cont {
  display: flex;
  align-items: center;
  gap: 160px;
  height: var(--window-height, 100vh);
  padding-left: 100px;
}
.service__top--title {
  font-size: 72px;
  color: #fff;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .service__top--cont {
    padding-left: 60px;
  }
  .service__top--title {
    font-size: 40px;
  }
}
@media screen and (max-width: 750px) {
  .service__top--cont {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    padding-left: 24px;
  }
  .service__top--title {
    padding: 13.7vh 0 36px;
    font-size: 44px;
  }
}
.service .card {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}
.service .card__item {
  position: relative;
  width: 400px;
  height: 540px;
  padding: 34px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 20px;
}
.service .card__item--tit {
  position: relative;
  height: 100px;
  color: #fff;
  font-size: 50px;
  line-height: 1;
}
.service .card__item--tit::before {
  content: "****";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
}
.service .card__item--content {
  margin: 56px 0;
}
.service .card__item--content img {
  width: 85%;
  height: auto;
}
.service .card__item--info {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 34px;
  left: 34px;
  right: 34px;
  font-size: 24px;
  color: #fff;
}
.service .card__item--info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url(../images/card-icon.png) center/contain no-repeat;
}
.service .card__item--lock {
  position: relative;
  padding: 0;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(#000, #000), linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-background-clip: content-box, border-box;
}
.service .card__item--lock .icon__wrap--img {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: auto;
}
.service .card__item--lock .icon__wrap--img.open {
  opacity: 1;
}
@media (max-width: 1440px) {
  .service .card__item {
    width: 303px;
    height: 408px;
    padding: 24px;
  }
  .service .card__item--tit {
    height: 72px;
    font-size: 36px;
  }
  .service .card__item--content {
    margin: 28px 0;
  }
  .service .card__item--info {
    bottom: 24px;
    left: 24px;
    right: 24px;
    font-size: 1rem;
  }
  .service .card__item--lock {
    position: relative;
    padding: 0;
    border: 2px solid transparent;
    border-radius: 20px;
    background: linear-gradient(#000, #000), linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-background-clip: content-box, border-box;
  }
  .service .card__item--lock .icon__wrap--img {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
  }
  .service .card__item--lock .icon__wrap--img.open {
    opacity: 1;
  }
}
@media (max-width: 750px) {
  .service .card__item {
    width: calc(min(var(--window-width), 480) * 1px - 48px);
    height: calc(min(var(--window-width), 480) * 1.3px - 48px);
    padding: 26px;
  }
  .service .card__item--tit {
    font-size: 40px;
  }
  .service .card__item:nth-child(2) .card__item--tit br {
    display: none;
  }
  .service .card__item--content {
    margin: 27px 0;
  }
  .service .card__item--content img {
    width: 100%;
  }
  .service .card__item--info {
    bottom: 26px;
    left: 26px;
    right: 26px;
    font-size: 24px;
  }
  .service .card__item--lock {
    position: relative;
    padding: 0;
    border: 2px solid transparent;
    border-radius: 20px;
    background: linear-gradient(#000, #000), linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-background-clip: content-box, border-box;
  }
  .service .card__item--lock .icon__wrap--img {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
  }
  .service .card__item--lock .icon__wrap--img.open {
    opacity: 1;
  }
}
.service__main {
  --progress-opacity: 0;
  opacity: 0;
  display: flex;
  gap: 260px;
  position: relative;
  width: 100%;
  height: 410vh;
  margin-top: max(-100vh, -945px);
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .service__main {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .service__main {
    padding: 0 24px;
  }
}
.service__main .card__item--sticky {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: max(100vh, 940px);
}
.service__main .card__item--sticky .service__main--mobile-text {
  display: none;
}
.service__main .card__item--sticky .card__item--lock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__main .card__item--sticky .card__item--lock .icon__wrap--text {
  opacity: var(--progress-opacity);
  background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: noWrap;
  font-size: 40px;
}
.service__main .content {
  flex: 1;
  padding-top: 100vh;
  overflow: hidden;
}
.service__main .content .text {
  color: #fff;
}
.service__main .content__title {
  font-size: 72px;
  line-height: 1.4;
  letter-spacing: -2px;
}
.service__main .content__desc {
  max-width: 750px;
  margin-top: 34px;
  font-size: 24px;
}
.service__main .content__info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 80px;
}
.service__main .content__info .info {
  display: flex;
  align-items: center;
  gap: 50px;
}
.service__main .content__info .info__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(#000, #000), linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-background-clip: content-box, border-box;
}
.service__main .content__info .info__box--text {
  background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: noWrap;
  font-size: 28px;
  text-align: center;
}
.service__main .content__info .info__title {
  font-size: 28px;
  color: #fff;
}
.service__main .content__serviceList {
  margin-top: 160px;
}
.service__main .content__serviceList--title {
  margin-bottom: 80px;
  font-size: 60px;
  color: #fff;
}
.service__main .content__serviceList--wrap {
  display: flex;
  gap: 50px;
}
.service__main .content__serviceList--wrap .serviceList__item {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.service__main .content__serviceList--wrap .serviceList__item--img {
  width: 100%;
}
.service__main .content__serviceList--wrap .serviceList__item--info {
  margin-top: 24px;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 1440px) {
  .service__main {
    gap: 7vw;
    height: max(360vh, 3380px);
  }
  .service__main .card__item--sticky {
    width: 208px;
  }
  .service__main .card__item--sticky .card__item--lock {
    width: 208px;
    height: 280px;
  }
  .service__main .card__item--sticky .card__item--lock .icon__wrap--text {
    font-size: 24px;
  }
  .service__main .content {
    width: calc(100% - 208px - 7vw);
  }
  .service__main .content__title {
    font-size: 40px;
  }
  .service__main .content__desc {
    font-size: 1rem;
  }
  .service__main .content__info {
    margin-top: 40px;
    gap: 24px;
  }
  .service__main .content__info .info {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .service__main .content__info .info__box {
    max-width: 340px;
    height: 150px;
  }
  .service__main .content__info .info__box--text {
    font-size: 24px;
  }
  .service__main .content__info .info__title {
    font-size: 16px;
  }
  .service__main .content__serviceList {
    margin-top: 80px;
  }
  .service__main .content__serviceList--title {
    margin-bottom: 40px;
    font-size: 40px;
  }
  .service__main .content__serviceList--wrap {
    gap: 24px;
  }
  .service__main .content__serviceList--wrap .serviceList__item {
    width: calc((100% - 48px) / 3);
  }
  .service__main .content__serviceList--wrap .serviceList__item--info {
    margin-top: 24px;
    font-size: 16px;
  }
}
@media (max-width: 1440px) and (max-width: 750px) {
  .service__main {
    flex-direction: column;
    gap: 7vw;
  }
  .service__main .card__item--sticky {
    flex-direction: column;
    position: static;
    width: 100%;
  }
  .service__main .card__item--sticky .service__main--mobile-text {
    display: flex;
    align-self: flex-start;
    padding: 13.7vh 0 36px;
    font-size: 44px;
    color: #fff;
  }
  .service__main .card__item--sticky .card__item--lock {
    width: calc(min(var(--window-width), 480) * 1px - 48px);
    height: calc(min(var(--window-width), 480) * 1.3px - 48px);
  }
  .service__main .card__item--sticky .card__item--lock .icon__wrap--text {
    font-size: 40px;
  }
  .service__main .content {
    width: 100%;
    padding-top: 10vh;
  }
  .service__main .content__title {
    font-size: 44px;
  }
  .service__main .content__title br.mobile_none {
    display: none;
  }
  .service__main .content__desc {
    margin-top: 24px;
  }
  .service__main .content__info {
    margin-top: 60px;
  }
  .service__main .content__info .info__box {
    max-width: none;
    width: 100%;
    height: 112px;
  }
  .service__main .content__info .info__box--text {
    font-size: 20px;
  }
  .service__main .content__serviceList--title {
    font-size: 32px;
  }
}
.service__bottom {
  --progress-opacity: 0;
  height: max(300vh, 2800px);
  margin-top: min(-100vh, -945px);
}
.service__bottom--cont {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: max(100vh, 940px);
  overflow-x: hidden;
}
.service__bottom .card {
  display: flex;
  align-items: center;
  height: max(100vh, 940px);
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .service__bottom .card {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .service__bottom .card {
    padding: 0 24px;
  }
}
.service__bottom .card__item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-color: transparent;
}
.service__bottom .card__item > * {
  position: relative;
}
.service__bottom .card__item:nth-child(1) {
  z-index: 3;
}
.service__bottom .card__item:nth-child(2) {
  z-index: 2;
}
.service__bottom .card__item:nth-child(3) {
  z-index: 1;
}
.service__bottom .card__item:not(.card__item--lock) {
  border: none;
}
.service__bottom .card__item--lock {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__bottom .card__item--lock .icon__wrap--text {
  background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: noWrap;
  font-size: 40px;
}
.service__bottom .card__item--content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
}
.service__bottom .card__item--content img {
  filter: blur(calc(50px * var(--progress-opacity)));
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service__bottom .card__item--desc {
  opacity: var(--progress-opacity);
  flex: 1;
  margin-top: 44px;
  color: #fff;
}
.service__bottom .card__item--info {
  gap: 9px;
  font-size: 16px;
}
.service__bottom .card__item--info span {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.service__bottom .card__item--info[data-bg-type="1"] span {
  background-color: #ff009d;
}
.service__bottom .card__item--info[data-bg-type="2"] span {
  background-color: #0049ff;
}
.service__bottom .card__item--info[data-bg-type="3"] span {
  background-color: #26ff00;
}
@media (max-width: 1440px) {
  .service__bottom .card__item--lock .icon__wrap--text {
    font-size: 24px;
  }
}
@media (max-width: 750px) {
  .service__bottom--cont {
    overflow-y: hidden;
    padding-top: 12vh;
  }
  .service__bottom--cont .card {
    flex-direction: column;
    height: auto;
  }
  .service__bottom--cont .card__item {
    z-index: 0;
    width: calc(min(var(--window-width), 480) * 1px - 48px);
    height: 504px;
  }
  .service__bottom--cont .card__item:nth-child(1) {
    display: none;
  }
  .service__bottom--cont .card__item:nth-child(2) {
    z-index: 1;
  }
  .service__bottom--cont .card__item:nth-child(3) {
    z-index: 2;
    --progress-btt1: 0;
    transform: translateY(calc(-544px * var(--progress-btt1)));
  }
  .service__bottom--cont .card__item:nth-child(4) {
    z-index: 3;
    --progress-btt2: 0;
    transform: translateY(calc(-544px * var(--progress-btt2)));
  }
  .service__bottom--cont .card__item--info {
    position: absolute;
  }
}
.service__footer {
  --progress-opacity: 0;
  opacity: 0;
  position: relative;
  width: 100%;
  height: max(200vh, 1896px);
  margin-top: max(-100vh, -940px);
}
.service__footer--content {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 200px;
  position: sticky;
  top: 0;
  left: 0;
  height: max(100vh, 940px);
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .service__footer--content {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .service__footer--content {
    padding: 0 24px;
  }
}
.service__footer--content .card__item {
  position: relative;
}
.service__footer--content .card__item--lock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__footer--content .card__item--lock::before {
  opacity: var(--progress-opacity);
  content: "";
  position: absolute;
  width: 160%;
  height: 160%;
  background: url(../images/card-glow.png) center/contain no-repeat;
}
.service__footer--content .card__item--lock .icon__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 20px;
}
.service__footer--content .card__item--lock .icon__wrap--text {
  background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: noWrap;
  font-size: 40px;
}
.service__footer--content > .text {
  opacity: var(--progress-opacity);
  font-size: 72px;
  color: #fff;
}
@media (max-width: 1440px) {
  .service__footer--content {
    gap: 100px;
  }
  .service__footer--content .card__item--lock .icon__wrap--text {
    font-size: 24px;
  }
  .service__footer--content > .text {
    font-size: 40px;
  }
}
@media (max-width: 750px) {
  .service__footer--content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12.3vh 24px 0;
  }
  .service__footer--content .card__item {
    width: calc(min(var(--window-width), 480) * 1px - 48px);
    height: 504px;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  body:not(.dark) .service__footer--content > .text {
    color: #000;
  }
}
.desc-2__top {
  display: flex;
  align-items: center;
  width: 100%;
  height: max(100vh, 940px);
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .desc-2__top {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .desc-2__top {
    padding: 0 24px;
  }
}
.desc-2__top > * {
  width: 50%;
}
.desc-2__top--tit {
  padding-bottom: 15%;
  font-size: 72px;
  line-height: 1.28em;
  font-weight: bold;
}
.desc-2__top--text {
  padding-top: 15%;
  padding-left: 100px;
}
.desc-2__bottom {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(../images/sc-desc2.jpg) center/cover no-repeat;
  --progress-width: 0;
}
.desc-2__bottom::before, .desc-2__bottom::after {
  content: "";
  position: absolute;
  width: var(--progress-width);
  height: 140px;
  background-color: #fff;
}
.desc-2__bottom::before {
  top: 0;
  right: 0;
}
.desc-2__bottom::after {
  bottom: 0;
  left: 0;
}
.desc-2__bottom--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.desc-2__bottom--text .text {
  width: fit-content;
  font-size: 72px;
}
.desc-2__bottom--text .text:nth-child(3) {
  margin-left: auto;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .desc-2__top {
    flex-direction: column;
    align-items: normal;
  }
  .desc-2__top--tit {
    padding-bottom: 0;
    font-size: 40px;
    line-height: 1.28em;
    font-weight: bold;
  }
  .desc-2__top--text {
    padding-top: 0;
    padding-left: 30px;
    margin-left: auto;
  }
  .desc-2__top--text .text {
    font-size: 1rem;
    line-height: 1.75;
  }
  .desc-2__top--text .text br {
    display: none;
  }
  .desc-2__bottom {
    background: url(../images/sc-desc2.jpg) center/cover no-repeat;
  }
  .desc-2__bottom--text .text {
    font-size: 30px;
  }
}
@media screen and (max-width: 750px) {
  .desc-2__top {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .desc-2__top--tit {
    width: 100%;
    padding-bottom: 0;
    font-size: 44px;
  }
  .desc-2__top--text {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin: 24px 0 0 0;
  }
  .desc-2__top--text .text {
    font-size: 1rem;
    line-height: 1.75;
  }
  .desc-2__top--text .text br {
    display: none;
  }
  .desc-2__bottom {
    background: url(../images/sc-desc2.jpg) center/cover no-repeat;
  }
  .desc-2__bottom--text .text {
    white-space: noWrap;
    font-size: 30px;
  }
}

.finance {
  width: 100%;
  height: 300vh;
}
.finance__wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: max(100vh, 940px);
  overflow-x: hidden;
}
.finance__wrap--sticky {
  display: flex;
  align-items: center;
  gap: 160px;
  height: max(100vh, 940px);
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .finance__wrap--sticky {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .finance__wrap--sticky {
    padding: 0 24px;
  }
}
.finance__title .Text {
  font-size: 72px;
}
.finance__item {
  display: flex;
  gap: 40px;
}
.finance .card__item {
  position: relative;
  width: 400px;
  height: 540px;
  padding: 34px;
  border-radius: 20px;
}
.finance .card__item:nth-child(1) {
  background-color: #e657af;
}
.finance .card__item:nth-child(2) {
  background-color: #0049ff;
}
.finance .card__item:nth-child(3) {
  overflow: hidden;
  position: relative;
}
.finance .card__item:nth-child(3) .blurImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(15px);
}
.finance .card__item--tit {
  position: relative;
  color: #fff;
  font-size: 50px;
  line-height: 1;
}
.finance .card__item--tit::before {
  content: "****";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
}
.finance .card__item--content {
  position: relative;
  margin-top: 40px;
}
.finance .card__item--content .content__wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.finance .card__item--content .content__item {
  color: #fff;
}
.finance .card__item--content .content__item--tit {
  font-size: 20px;
}
.finance .card__item--info {
  display: flex;
  align-items: center;
  position: absolute;
  left: 34px;
  bottom: 34px;
  width: calc(100% - 64px);
  color: #fff;
}
.finance .card__item--info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url(../images/card-icon.png) center/contain no-repeat;
}
.finance__desc .Text {
  font-size: 24px;
}
.finance .arrow {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.finance .arrow.on {
  display: flex;
}
.finance .arrow.on:not(.change) .arrow__text--tradition {
  display: block;
}
.finance .arrow.on.change .arrow__text--future {
  display: block;
}
.finance .arrow__wrap {
  display: flex;
}
.finance .arrow__item {
  transform: rotate(45deg);
  width: 27px;
  height: 27px;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  animation: changeOpacity 1s infinite alternate;
}
.finance .arrow__item:nth-child(1) {
  border-image: linear-gradient(60deg, #e657af 60%, #0049ff 160%);
  border-image-slice: 1;
  animation-delay: 0.1s;
}
.finance .arrow__item:nth-child(2) {
  border-image: linear-gradient(60deg, #e657af 20%, #0049ff 145%);
  border-image-slice: 1;
  animation-delay: 0.2s;
}
.finance .arrow__item:nth-child(3) {
  border-image: linear-gradient(60deg, #e657af, #0049ff 130%);
  border-image-slice: 1;
  animation-delay: 0.3s;
}
.finance .arrow__item:nth-child(4) {
  border-image: linear-gradient(50deg, #e657af, #0049ff 100%);
  border-image-slice: 1;
  animation-delay: 0.4s;
}
.finance .arrow__item:nth-child(5) {
  border-image: linear-gradient(50deg, #e657af, #0049ff 80%);
  border-image-slice: 1;
  animation-delay: 0.5s;
}
.finance .arrow__item:nth-child(6) {
  border-image: linear-gradient(50deg, #0049ff 45%, #43cf2e 135%);
  border-image-slice: 1;
  animation-delay: 0.6s;
}
.finance .arrow__item:nth-child(7) {
  border-image: linear-gradient(51deg, #0049ff, #43cf2e 75%);
  border-image-slice: 1;
  animation-delay: 0.7s;
}
.finance .arrow__text {
  display: none;
  font-size: 24px;
}
@keyframes changeOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1440px) {
  .finance__item {
    display: flex;
    gap: 24px;
  }
  .finance .card__item {
    width: 303px;
    height: 408px;
    padding: 24px;
  }
  .finance .card__item--tit {
    font-size: 36px;
  }
  .finance .card__item--content {
    margin-top: 32px;
  }
  .finance .card__item--content .content__wrap {
    gap: 24px;
  }
  .finance .card__item--content .content__item--tit {
    font-size: 14px;
  }
  .finance .card__item--info {
    left: 24px;
    bottom: 24px;
    width: calc(100% - 48px);
    color: #fff;
  }
  .finance .card__item--info::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: url(../images/card-icon.png) center/contain no-repeat;
  }
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .finance__wrap--sticky {
    gap: 80px;
  }
  .finance__title .Text {
    font-size: 40px;
  }
  .finance__desc .Text {
    font-size: 1rem;
    line-height: 1.75;
  }
}

@media screen and (max-width: 750px) {
  .finance {
    height: auto;
  }
  .finance__wrap {
    position: static;
    height: auto;
  }
  .finance__wrap--sticky {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .finance__title {
    padding: 13.7vh 0 36px;
  }
  .finance__title .Text {
    font-size: 44px;
  }
  .finance__item {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .finance .card__item {
    width: calc(min(var(--window-width), 480) * 1px - 48px);
    height: 540px;
  }
  .finance__desc {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58vh;
  }
  .finance__desc .Text {
    width: 100%;
    font-size: 20px;
  }
  .finance__desc .Text br {
    display: none;
  }
  .finance .arrow {
    position: fixed;
    bottom: 0;
    padding: 10px 0 26px;
    background-image: linear-gradient(180deg, hsla(0, 0%, 98%, 0), #fff);
  }
  .finance .arrow__wrap {
    flex-direction: column;
  }
  .finance .arrow__item {
    transform: rotate(135deg);
    width: 18px;
    height: 18px;
    margin-left: 0;
    border-width: 6px;
  }
  .finance .arrow__item:nth-child(1), .finance .arrow__item:nth-child(2), .finance .arrow__item:nth-child(3), .finance .arrow__item:nth-child(4) {
    display: none;
  }
  .finance .arrow__text {
    font-size: 1rem;
  }
}
.creator {
  height: 300vh;
}
.creator__wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: max(100vh, 940px);
  background: url(../images/creator.jpg) center/100% auto no-repeat;
}
.creator__intro {
  opacity: 0;
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
.creator__intro--title {
  margin-bottom: 25px;
  font-size: 60px;
  line-height: 1.2;
}
.creator__intro--desc {
  font-size: 24px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .creator__wrap {
    background: url(../images/creator.jpg) center/cover no-repeat;
  }
  .creator__intro {
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }
  .creator__intro--title {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 1.2;
  }
  .creator__intro--desc {
    font-size: 1rem;
  }
}
@media screen and (max-width: 750px) {
  .creator__wrap {
    background: url(../images/creator.jpg) center/cover no-repeat;
  }
  .creator__intro {
    left: 24px;
    top: 10vh;
    transform: none;
    color: #fff;
  }
  .creator__intro--title {
    margin-bottom: 25px;
    font-size: 44px;
  }
  .creator__intro--desc {
    font-size: 1rem;
  }
}

.use {
  width: 100%;
  height: max(100vh, 2856px);
  margin-top: 10vh;
}
.use__wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: max(100vh, 940px);
  overflow-x: hidden;
}
.use__wrap--sticky {
  display: flex;
  align-items: center;
  gap: 160px;
  height: max(100vh, 940px);
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .use__wrap--sticky {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .use__wrap--sticky {
    padding: 0 24px;
  }
}
.use__title .Text {
  font-size: 72px;
  line-height: 1.27;
}
.use__item {
  display: flex;
  gap: 40px;
}
.use .card__item {
  position: relative;
  width: 400px;
  height: 540px;
  padding: 32px;
  border-radius: 20px;
}
.use .card__item:nth-child(1) {
  overflow: hidden;
}
.use .card__item:nth-child(1) .blurImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 42%);
  object-fit: cover;
  filter: blur(15px);
}
.use .card__item:nth-child(1) .card__item--tit::before {
  content: "****";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
}
.use .card__item:nth-child(1) .content__item--desc {
  opacity: 0;
}
.use .card__item:nth-child(1).content__item--active .content__item--desc {
  opacity: 1;
}
.use .card__item:nth-child(1) .card__item--info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url(../images/card-icon.png) center/contain no-repeat;
}
.use .card__item:nth-child(2) {
  background-color: #0049ff;
}
.use .card__item:nth-child(3) {
  background-color: #000;
}
.use .card__item:nth-child(4) {
  background-color: #00bf41;
}
.use .card__item--tit {
  position: relative;
  color: #fff;
  font-size: 50px;
  line-height: 1.21;
}
.use .card__item--content {
  position: relative;
  margin-top: 40px;
}
.use .card__item--content .content__wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.use .card__item--content .content__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #fff;
}
.use .card__item--content .content__item--tit {
  font-size: 20px;
}
.use .card__item--content .content__item--desc {
  display: block;
  width: 100%;
}
.use .card__item--info {
  display: flex;
  align-items: center;
  position: absolute;
  left: 34px;
  bottom: 34px;
  width: calc(100% - 64px);
  color: #fff;
}
.use .card__item--info::before {
  content: "";
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #ff009d;
  border-radius: 50%;
}
.use .card__item .img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(0, 0%, 42%);
}
.use .card__item .img::before {
  opacity: 0;
  transition: opacity 0.5s;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-blend-mode: multiply;
  background-color: hsla(0, 0%, 42%, 0.3);
}
.use .card__item .img.blur::before {
  opacity: 1;
}
.use .card__item .img.blur img {
  transition: filter 0.5s;
  width: 100%;
  filter: blur(50px);
}
.use__desc .Text {
  font-size: 24px;
}
@media (max-width: 1440px) {
  .use .card__item {
    width: 303px;
    height: 403px;
    padding: 24px;
  }
  .use .card__item--tit {
    font-size: 36px;
  }
  .use .card__item--content {
    margin-top: 24px;
  }
  .use .card__item--content .content__wrap {
    gap: 16px;
  }
  .use .card__item--content .content__item {
    gap: 4px;
  }
  .use .card__item--content .content__item--tit {
    font-size: 20px;
  }
  .use .card__item--content .content__item--desc {
    font-size: 14px;
  }
  .use .card__item--info {
    left: 24px;
    bottom: 24px;
    width: calc(100% - 48px);
  }
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .use__wrap--sticky {
    gap: 80px;
  }
  .use__title .Text {
    font-size: 40px;
  }
  .use__item {
    display: flex;
    gap: 40px;
  }
  .use__desc .Text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 750px) {
  .use__wrap--sticky {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .use__title {
    margin: 13vh 0 36px;
  }
  .use__title .Text {
    font-size: 40px;
  }
  .use .card {
    gap: 32px;
  }
  .use .card__item {
    width: calc(min(var(--window-width), 480) * 1px - 48px);
    height: 504px;
  }
  .use .card__item--content .content__item--desc {
    font-size: 1rem;
  }
  .use .card__item--content .content__item--desc br {
    display: none;
  }
  .use__desc {
    margin-top: auto;
  }
  .use__desc .Text {
    font-size: 20px;
  }
  .use__desc .Text br {
    display: none;
  }
}

.ground {
  overflow: hidden;
  position: relative;
  padding: 0 100px;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .ground {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .ground {
    padding: 0 24px;
  }
}
.ground__mobileWrap {
  display: none;
}
.ground__wrap {
  padding: 200px 0;
}
.ground__title {
  margin-bottom: 34px;
  font-size: 72px;
}
.ground__desc {
  margin-bottom: 70px;
  font-size: 24px;
}
.ground__btnWrap {
  display: flex;
  gap: 18px;
}
.ground__btnWrap .ground__button {
  padding: 10px 20px;
  border: 2px solid #000;
  font-size: 18px;
  text-decoration: none;
}
.ground__btnWrap .ground__button--download {
  background-color: #000;
  color: #fff;
}
.ground__join {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  left: -33.3333333333vw;
  bottom: -60px;
  transition: bottom 0.3s linear;
  min-width: 100%;
  animation: joinLTR 6s infinite linear;
  white-space: nowrap;
}
.ground__join.active {
  bottom: 0;
}
.ground__join--item {
  display: flex;
  justify-content: center;
  width: 11.1111111111vw;
  padding: 10px 0;
  font-size: 24px;
  color: #fff;
}
.ground__join--item:nth-child(3n-2) {
  background-color: #00bf41;
}
.ground__join--item:nth-child(3n-1) {
  background-color: #0049ff;
}
.ground__join--item:nth-child(3n) {
  background-color: #e657af;
}
.ground__join--item span {
  font-style: italic;
}
.ground__join--item .join__item--text {
  position: relative;
  display: block;
  color: #fff;
  z-index: 2;
}
.ground__join::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .ground__title {
    font-size: 40px;
  }
  .ground__desc {
    font-size: 1rem;
  }
  .ground__join {
    left: -100vw;
    animation: tabletJoinLTR 12s infinite linear;
  }
  .ground__join--item {
    width: 25vw;
    font-size: 1rem;
  }
}
@media screen and (max-width: 750px) {
  .ground__title {
    display: none;
  }
  .ground__mobileWrap {
    display: flex;
    position: relative;
    left: -493px;
    animation: mobileTitleRTL 35s infinite linear;
    margin-bottom: 24px;
  }
  .ground__mobileTitle {
    width: 493px;
    font-size: 44px;
  }
  .ground__mobileTitle span {
    margin-right: 8px;
  }
  .ground__desc {
    font-size: 1rem;
    margin-bottom: 24px;
  }
  .ground__desc .mobile_none {
    display: none;
  }
  .ground__btnWrap {
    gap: 6px;
  }
  .ground__btnWrap .ground__button {
    font-size: 14px;
  }
  .ground__join {
    margin-left: -100vw;
    animation: mobileJoinLTR 8s infinite linear;
  }
  .ground__join--item {
    width: 20vw;
    font-size: 1rem;
  }
}

@keyframes joinLTR {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(33.3333333333vw);
  }
}
@keyframes tabletJoinLTR {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes mobileJoinLTR {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes mobileTitleRTL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1972px);
  }
}
.footer {
  overflow: hidden;
  padding: 0 100px;
  background-color: #000;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .footer {
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .footer {
    padding: 0 24px;
  }
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
.footer__icon {
  width: 192px;
}
.footer__icon img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .footer__wrap {
    flex-direction: column-reverse;
    gap: 44px;
    padding: 36px 0;
  }
  .footer__icon {
    width: 154px;
  }
}
@media screen and (max-width: 750px) {
  .footer__wrap {
    flex-direction: column-reverse;
    gap: 44px;
    padding: 36px 0;
  }
  .footer__icon {
    width: 154px;
  }
}