@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-SemiBold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Bold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Bold.woff2") format("woff2");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

input, button, select {
  border: 0;
  appearance: none;
}

select:focus {
  outline: none;
}

body {
  font-family: "Archivo", "NotoSansCJKkr";
  word-wrap: break-word;
  word-break: keep-all;
  transition: background 0.5s;
}

:root {
  --background-color: rgba(0, 0, 0, 0) ;
}

body {
  font-family: "Archivo", "NotoSansCJKkr";
  font-weight: bold;
  transition: background-color 0.5s;
}

.dark {
  background-color: #000;
}

#contianer {
  width: 100%;
}

.text {
  font-size: 52px;
}
.text.small {
  font-size: 1.5rem;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0 100px;
  visibility: hidden;
}
.header .logo a {
  display: block;
  transition: filter 0.5s;
  padding: 17px 0;
  filter: invert(0);
}
.header .logo a img {
  width: 100px;
}
.header .gnb__list {
  display: flex;
  align-items: center;
}
.header .gnb__list--item {
  position: relative;
  transition: color 0.5s;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  line-height: 1;
}
.header .gnb__list--item > a {
  padding: 23px 25px;
}
.header .gnb__list--item .btn-lang {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 23px 0 23px 25px;
}
.header .gnb__list--item .btn-lang svg {
  filter: invert(1);
  transition: filter 0.5s;
}
.header .gnb__list--item .lang-list {
  display: none;
  position: absolute;
  top: 55px;
  right: 0;
  background-color: #000;
  border: 1px solid #5a5a5a;
  border-radius: 6px;
}
.header .gnb__list--item .lang-list a {
  opacity: 0.2;
  display: block;
  padding: 6px 13px;
  color: #fff;
}
.header.on .logo a {
  filter: invert(1);
}

.dark .header .gnb__list--item,
.header.on .gnb__list--item {
  color: #fff;
  transition: color 0.5s;
}

.dark .header .gnb__list--item .btn-lang svg,
.header.on .gnb__list--item .btn-lang svg {
  filter: invert(0);
  transition: filter 0.5s;
}

.main__wrap {
  position: relative;
  width: 100%;
  height: 600vh;
}
.main__cont {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.main__cont video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__cont .text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.main__cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}
.main__cont .ic-arrow {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

.keyword__wrap {
  width: 100%;
  height: 500vh;
}
.keyword__cont {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.keyword__cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 1;
}
.keyword__cont--text {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.keyword__cont--text .text {
  font-size: 100px;
}
.keyword__cont--bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.keyword__cont--bg .bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/sc-keyword1.jpg") center/cover no-repeat;
}
.keyword__cont--bg .bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/sc-keyword2.jpg") center/cover no-repeat;
}
.keyword__cont--bg .bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/sc-keyword3.jpg") center/cover no-repeat;
}
.keyword__cont > .text {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.desc__topCont {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
}
.desc__topCont > * {
  width: 50%;
}
.desc__topCont--tit {
  padding-bottom: 15%;
  font-size: 72px;
  line-height: 1.28em;
  font-weight: bold;
}
.desc__topCont--text {
  padding-top: 15%;
}
.desc__bottomCont {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(../images/sc-desc.jpg) center/cover no-repeat;
  --progress-width: 0;
}
.desc__bottomCont::before, .desc__bottomCont::after {
  content: "";
  position: absolute;
  width: var(--progress-width);
  height: 140px;
  background-color: #fff;
}
.desc__bottomCont::before {
  top: 0;
  right: 0;
}
.desc__bottomCont::after {
  bottom: 0;
  left: 0;
}
.desc__bottomCont--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.desc__bottomCont--text .text {
  width: fit-content;
  font-size: 72px;
}
.desc__bottomCont--text .text:nth-child(3) {
  margin-left: auto;
}

.gallery__wrap {
  width: 100%;
  height: 500vh;
  padding: 0 100px;
}
.gallery__cont {
  display: flex;
}
.gallery__cont--left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 470px;
  height: 100vh;
}
.gallery__cont--left .text {
  font-size: 72px;
}
.gallery__cont--right {
  flex: 0 0 calc(100% - 470px);
  height: 100%;
  padding: 100vh 0;
  box-sizing: border-box;
}
.gallery__cont .cont__right--rightBox {
  margin-left: auto;
}
.gallery__cont .cont__right .right__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100vh;
}
.gallery__cont .cont__right .right__box--img {
  width: 100%;
  height: auto;
}
.gallery__cont .cont__right .right__box--title {
  margin-top: 15px;
  font-weight: 600;
}

.possibility {
  width: 100%;
  height: 400vh;
}
.possibility .possibility__wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.possibility .possibility__cont {
  display: flex;
  align-items: center;
  gap: 160px;
  height: 100vh;
  padding: 0 0 0 100px;
}
.possibility .possibility__cont--tit {
  font-size: 72px;
  color: #fff;
}
.possibility .possibility__cont--item {
  display: flex;
  gap: 75px;
}
.possibility .possibility__cont--item .item__box {
  width: 300px;
  height: 300px;
}
.possibility .possibility__cont--item .item__box--img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: #000;
}
.possibility .possibility__cont--item .item__box--img img {
  max-width: 54%;
  height: auto;
}
.possibility .possibility__cont--item .item__box:not(:last-child) .item__box--img::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%) rotate(45deg);
  width: 30px;
  height: 30px;
  border: 8px solid #fff;
  border-left: none;
  border-bottom: none;
}
.possibility .possibility__cont--item .item__box--text {
  margin-top: 25px;
  font-size: 24px;
  color: #fff;
}
.possibility .possibility__cont--graphic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.possibility .possibility__cont--graphic .graphic__box {
  position: relative;
}
.possibility .possibility__cont--graphic .graphic__box--img {
  max-width: 500px;
  height: auto;
}
.possibility .possibility__cont--graphic .graphic__box--1 {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.possibility .possibility__cont--graphic .graphic__box--2 {
  left: 10%;
  bottom: 25%;
}
.possibility .possibility__cont--graphic .graphic__box--3 {
  right: 10%;
  bottom: 25%;
}
.possibility .possibility__cont--graphic .graphic__box .graphic__title {
  position: absolute;
  text-align: center;
}
.possibility .possibility__cont--graphic .graphic__box .graphic__title > span {
  display: block;
  color: #fff;
}
.possibility .possibility__cont--graphic .graphic__box .graphic__title--main-title {
  font-size: 24px;
}
.possibility .possibility__cont--desc {
  position: absolute;
  left: 0;
  bottom: 4vh;
  padding: 0 100px;
}
.possibility .possibility__cont--desc .desc--text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.challange__wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
}
.challange > * {
  color: #fff;
}
.challange__title {
  width: fit-content;
  padding-bottom: 15%;
  font-size: 72px;
  line-height: 1.28em;
  font-weight: bold;
  color: #fff;
}
.challange__cont {
  padding-top: 15%;
  padding-left: 100px;
}

.feature__wrap {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.feature__bg {
  --opacity-value: 0;
  display: flex;
  width: 100%;
  height: 175px;
}
.feature__bg > span {
  width: 33.33%;
  height: 100%;
}
.feature__bg--pink {
  background-color: #e657af;
}
.feature__bg--blue {
  background-color: #0049ff;
}
.feature__bg--green {
  background-color: #00bf41;
}
.feature__bg::after {
  opacity: var(--opacity-value);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
}
.feature__title {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
  white-space: noWrap;
}

.service {
  width: 100%;
  height: 1000vh;
}
.service__top {
  opacity: 1;
  height: 400vh;
}
.service__top--wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.service__top--cont {
  display: flex;
  align-items: center;
  gap: 160px;
  height: 100vh;
  padding-left: 100px;
}
.service__title {
  font-size: 72px;
  color: #fff;
}
.service .card {
  display: flex;
  gap: 40px;
}
.service .card__item {
  width: 400px;
  height: 540px;
  padding: 34px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 20px;
}
.service .card__item--tit {
  position: relative;
  height: 100px;
  color: #fff;
  font-size: 50px;
  line-height: 1;
}
.service .card__item--tit::before {
  content: "****";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
}
.service .card__item--content {
  margin: 56px 0;
}
.service .card__item--content img {
  width: 85%;
  height: auto;
}
.service .card__item--info {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 24px;
  color: #fff;
}
.service .card__item--info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url(../images/card-icon.png) center/contain no-repeat;
}
.service .card__item--lock {
  position: relative;
  padding: 0;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(#000, #000), linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-background-clip: content-box, border-box;
}
.service .card__item--lock .icon__wrap--img {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: auto;
}
.service .card__item--lock .icon__wrap--img.open {
  opacity: 1;
}
.service__main {
  --progress-opacity: 0;
  opacity: 0;
  display: flex;
  gap: 260px;
  height: 410vh;
  margin-top: -100vh;
  padding: 0 100px;
}
.service__main .card__item--sticky {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
.service__main .card__item--sticky .card__item--lock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__main .card__item--sticky .card__item--lock .icon__wrap--text {
  opacity: var(--progress-opacity);
  background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: noWrap;
  font-size: 40px;
}
.service__main .content {
  flex: 1;
  padding-top: 100vh;
}
.service__main .content .text {
  color: #fff;
}
.service__main .content__title {
  font-size: 72px;
  line-height: 1.4;
  letter-spacing: -2px;
}
.service__main .content__desc {
  max-width: 750px;
  margin-top: 34px;
  font-size: 24px;
}
.service__main .content__info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 80px;
}
.service__main .content__info .info {
  display: flex;
  align-items: center;
  gap: 50px;
}
.service__main .content__info .info__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(#000, #000), linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-background-clip: content-box, border-box;
}
.service__main .content__info .info__box--text {
  background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: noWrap;
  font-size: 28px;
  text-align: center;
}
.service__main .content__info .info__title {
  font-size: 28px;
  color: #fff;
}
.service__main .content__serviceList {
  margin-top: 160px;
}
.service__main .content__serviceList--title {
  margin-bottom: 80px;
  font-size: 60px;
  color: #fff;
}
.service__main .content__serviceList--wrap {
  display: flex;
  gap: 50px;
}
.service__main .content__serviceList--wrap .serviceList__item {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.service__main .content__serviceList--wrap .serviceList__item--img {
  width: 100%;
}
.service__main .content__serviceList--wrap .serviceList__item--info {
  margin-top: 24px;
  font-size: 24px;
  color: #fff;
}
.service__bottom {
  --progress-opacity: 0;
  height: 300vh;
  margin-top: -100vh;
}
.service__bottom--cont {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.service__bottom .card {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 100px;
}
.service__bottom .card__item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-color: transparent;
}
.service__bottom .card__item > * {
  position: relative;
}
.service__bottom .card__item:nth-child(1) {
  z-index: 3;
}
.service__bottom .card__item:nth-child(2) {
  z-index: 2;
}
.service__bottom .card__item:nth-child(3) {
  z-index: 1;
}
.service__bottom .card__item:not(.card__item--lock) {
  border: none;
}
.service__bottom .card__item--lock {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__bottom .card__item--lock .icon__wrap--text {
  background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: noWrap;
  font-size: 40px;
}
.service__bottom .card__item--content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
}
.service__bottom .card__item--content img {
  filter: blur(calc(50px * var(--progress-opacity)));
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service__bottom .card__item--desc {
  opacity: var(--progress-opacity);
  flex: 1;
  margin-top: 44px;
  color: #fff;
}
.service__bottom .card__item--info {
  gap: 9px;
  font-size: 16px;
}
.service__bottom .card__item--info span {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.service__bottom .card__item--info[data-bg-type="1"] span {
  background-color: #ff009d;
}
.service__bottom .card__item--info[data-bg-type="2"] span {
  background-color: #0049ff;
}
.service__bottom .card__item--info[data-bg-type="3"] span {
  background-color: #26ff00;
}
.service__footer {
  --progress-opacity: 0;
  opacity: 0;
  position: relative;
  height: 200vh;
  margin-top: -100vh;
}
.service__footer--content {
  display: flex;
  align-items: center;
  gap: 200px;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0 100px;
}
.service__footer--content .card__item {
  position: relative;
}
.service__footer--content .card__item--lock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__footer--content .card__item--lock::before {
  opacity: var(--progress-opacity);
  content: "";
  position: absolute;
  width: 160%;
  height: 160%;
  background: url(../images/card-glow.png) center/contain no-repeat;
}
.service__footer--content .card__item--lock .icon__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 20px;
}
.service__footer--content .card__item--lock .icon__wrap--text {
  background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: noWrap;
  font-size: 40px;
}
.service__footer--content > .text {
  opacity: var(--progress-opacity);
  font-size: 72px;
  color: #fff;
}

.desc-2__top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
}
.desc-2__top > * {
  width: 50%;
}
.desc-2__top--tit {
  padding-bottom: 15%;
  font-size: 72px;
  line-height: 1.28em;
  font-weight: bold;
}
.desc-2__top--text {
  padding-top: 15%;
  padding-left: 100px;
}
.desc-2__bottom {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(../images/sc-desc2.jpg) center/cover no-repeat;
  --progress-width: 0;
}
.desc-2__bottom::before, .desc-2__bottom::after {
  content: "";
  position: absolute;
  width: var(--progress-width);
  height: 140px;
  background-color: #fff;
}
.desc-2__bottom::before {
  top: 0;
  right: 0;
}
.desc-2__bottom::after {
  bottom: 0;
  left: 0;
}
.desc-2__bottom--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.desc-2__bottom--text .text {
  width: fit-content;
  font-size: 72px;
}
.desc-2__bottom--text .text:nth-child(3) {
  margin-left: auto;
}

.finance {
  width: 100%;
  height: 300vh;
}
.finance__wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.finance__wrap--sticky {
  display: flex;
  align-items: center;
  gap: 160px;
  height: 100vh;
  padding: 0 100px;
}
.finance__title .Text {
  font-size: 72px;
}
.finance__item {
  display: flex;
  gap: 40px;
}
.finance .card__item {
  position: relative;
  width: 400px;
  height: 540px;
  padding: 34px;
  border-radius: 20px;
}
.finance .card__item:nth-child(1) {
  background-color: #e657af;
}
.finance .card__item:nth-child(2) {
  background-color: #0049ff;
}
.finance .card__item:nth-child(3) {
  overflow: hidden;
  position: relative;
}
.finance .card__item:nth-child(3) .blurImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(15px);
}
.finance .card__item--tit {
  position: relative;
  color: #fff;
  font-size: 50px;
  line-height: 1;
}
.finance .card__item--tit::before {
  content: "****";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
}
.finance .card__item--content {
  position: relative;
  margin-top: 40px;
}
.finance .card__item--content .content__wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.finance .card__item--content .content__item {
  color: #fff;
}
.finance .card__item--content .content__item--tit {
  font-size: 20px;
}
.finance .card__item--info {
  display: flex;
  align-items: center;
  position: absolute;
  left: 34px;
  bottom: 34px;
  width: calc(100% - 64px);
  color: #fff;
}
.finance .card__item--info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url(../images/card-icon.png) center/contain no-repeat;
}
.finance__desc .Text {
  font-size: 24px;
}
.finance .arrow {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.finance .arrow.on {
  display: flex;
}
.finance .arrow.on:not(.change) .arrow__text--tradition {
  display: block;
}
.finance .arrow.on.change .arrow__text--future {
  display: block;
}
.finance .arrow__wrap {
  display: flex;
}
.finance .arrow__item {
  transform: rotate(45deg);
  width: 27px;
  height: 27px;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  animation: changeOpacity 1s infinite alternate;
}
.finance .arrow__item:nth-child(1) {
  border-image: linear-gradient(60deg, #e657af 60%, #0049ff 160%);
  border-image-slice: 1;
  animation-delay: 0.1s;
}
.finance .arrow__item:nth-child(2) {
  border-image: linear-gradient(60deg, #e657af 20%, #0049ff 145%);
  border-image-slice: 1;
  animation-delay: 0.2s;
}
.finance .arrow__item:nth-child(3) {
  border-image: linear-gradient(60deg, #e657af, #0049ff 130%);
  border-image-slice: 1;
  animation-delay: 0.3s;
}
.finance .arrow__item:nth-child(4) {
  border-image: linear-gradient(50deg, #e657af, #0049ff 100%);
  border-image-slice: 1;
  animation-delay: 0.4s;
}
.finance .arrow__item:nth-child(5) {
  border-image: linear-gradient(50deg, #e657af, #0049ff 80%);
  border-image-slice: 1;
  animation-delay: 0.5s;
}
.finance .arrow__item:nth-child(6) {
  border-image: linear-gradient(50deg, #0049ff 45%, #43cf2e 135%);
  border-image-slice: 1;
  animation-delay: 0.6s;
}
.finance .arrow__item:nth-child(7) {
  border-image: linear-gradient(51deg, #0049ff, #43cf2e 75%);
  border-image-slice: 1;
  animation-delay: 0.7s;
}
.finance .arrow__text {
  display: none;
  font-size: 24px;
}
@keyframes changeOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.creator {
  height: 300vh;
}
.creator__wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../images/creator.jpg) center/100% auto no-repeat;
}
.creator__intro {
  opacity: 0;
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
.creator__intro--title {
  margin-bottom: 25px;
  font-size: 60px;
  line-height: 1.2;
}
.creator__intro--desc {
  font-size: 24px;
}

.use {
  width: 100%;
  height: 300vh;
  margin-top: 10vh;
}
.use__wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.use__wrap--sticky {
  display: flex;
  align-items: center;
  gap: 160px;
  height: 100vh;
  padding: 0 100px;
}
.use__title .Text {
  font-size: 72px;
  line-height: 1.27;
}
.use__item {
  display: flex;
  gap: 40px;
}
.use .card__item {
  position: relative;
  width: 400px;
  height: 540px;
  padding: 32px;
  border-radius: 20px;
}
.use .card__item:nth-child(1) {
  overflow: hidden;
}
.use .card__item:nth-child(1) .blurImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 42%);
  object-fit: cover;
  filter: blur(15px);
}
.use .card__item:nth-child(1) .card__item--tit::before {
  content: "****";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
}
.use .card__item:nth-child(1) .content__item--desc {
  opacity: 0;
}
.use .card__item:nth-child(1).content__item--active .content__item--desc {
  opacity: 1;
}
.use .card__item:nth-child(1) .card__item--info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url(../images/card-icon.png) center/contain no-repeat;
}
.use .card__item:nth-child(2) {
  background-color: #0049ff;
}
.use .card__item:nth-child(3) {
  background-color: #000;
}
.use .card__item:nth-child(4) {
  background-color: #00bf41;
}
.use .card__item--tit {
  position: relative;
  color: #fff;
  font-size: 50px;
  line-height: 1.21;
}
.use .card__item--content {
  position: relative;
  margin-top: 40px;
}
.use .card__item--content .content__wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.use .card__item--content .content__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #fff;
}
.use .card__item--content .content__item--tit {
  font-size: 20px;
}
.use .card__item--content .content__item--desc {
  display: block;
  width: 100%;
}
.use .card__item--info {
  display: flex;
  align-items: center;
  position: absolute;
  left: 34px;
  bottom: 34px;
  width: calc(100% - 64px);
  color: #fff;
}
.use .card__item--info::before {
  content: "";
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #ff009d;
  border-radius: 50%;
}
.use .card__item .img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(0, 0%, 42%);
}
.use .card__item .img::before {
  opacity: 0;
  transition: opacity 0.5s;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-blend-mode: multiply;
  background-color: hsla(0, 0%, 42%, 0.3);
}
.use .card__item .img.blur::before {
  opacity: 1;
}
.use .card__item .img.blur img {
  transition: filter 0.5s;
  width: 100%;
  filter: blur(50px);
}
.use__desc .Text {
  font-size: 24px;
}

.ground {
  overflow: hidden;
  position: relative;
  padding: 0 100px;
}
.ground__wrap {
  padding: 200px 0;
}
.ground__title {
  margin-bottom: 34px;
  font-size: 72px;
}
.ground__desc {
  margin-bottom: 70px;
  font-size: 24px;
}
.ground__btnWrap {
  display: flex;
  gap: 18px;
}
.ground__btnWrap .ground__button {
  padding: 10px 20px;
  border: 2px solid #000;
  font-size: 18px;
  text-decoration: none;
}
.ground__btnWrap .ground__button--download {
  background-color: #000;
  color: #fff;
}
.ground__join {
  display: flex;
  position: absolute;
  left: -33.3333333333vw;
  bottom: -60px;
  animation: joinLTR 6s infinite linear;
  transition: bottom 0.3s linear;
}
.ground__join.active {
  bottom: 0;
}
.ground__join--item {
  display: flex;
  justify-content: center;
  width: 11.1111111111vw;
  padding: 10px 0;
  font-size: 24px;
  color: #fff;
}
.ground__join--item:nth-child(3n-2) {
  background-color: #00bf41;
}
.ground__join--item:nth-child(3n-1) {
  background-color: #0049ff;
}
.ground__join--item:nth-child(3n) {
  background-color: #e657af;
}
.ground__join--item span {
  font-style: italic;
}
.ground__join--item .join__item--text {
  position: relative;
  z-index: 2;
}
.ground__join::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
@keyframes joinLTR {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(33.3333333333vw);
  }
}

.footer {
  padding: 0 100px;
  background-color: #000;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
.footer__icon {
  width: 192px;
}
.footer__icon img {
  width: 100%;
  height: auto;
}