@font-face {
  font-family: "Archivo";
  src: url("../../fonts/Archivo-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Archivo";
  src: url("../../fonts/Archivo-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Archivo";
  src: url("../../fonts/Archivo-SemiBold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Archivo";
  src: url("../../fonts/Archivo-Bold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../../fonts/NotoSansCJKkr-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../../fonts/NotoSansCJKkr-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../../fonts/NotoSansCJKkr-Bold.woff2") format("woff2");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

input, button, select {
  border: 0;
  appearance: none;
}

select:focus {
  outline: none;
}

body {
  font-family: "Archivo", "NotoSansCJKkr";
  word-wrap: break-word;
  word-break: keep-all;
  transition: background 0.5s;
}

:root {
  --background-color: rgba(0, 0, 0, 0) ;
}

body {
  font-family: "Archivo,NotoSansCJKkr";
  font-weight: bold;
}

#contianer {
  width: 100%;
}

.text {
  font-size: 52px;
}
.text.small {
  font-size: 1.5rem;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0 100px;
  visibility: hidden;
}
.header .logo a {
  display: block;
  transition: filter 0.5s;
  padding: 17px 0;
  filter: invert(0);
}
.header .logo a img {
  width: 100px;
}
.header .gnb__list {
  display: flex;
  align-items: center;
}
.header .gnb__list--item {
  position: relative;
  transition: color 0.5s;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  line-height: 1;
}
.header .gnb__list--item > a {
  padding: 23px 25px;
}
.header .gnb__list--item .btn-lang {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 23px 0 23px 25px;
}
.header .gnb__list--item .btn-lang svg {
  filter: invert(1);
  transition: filter 0.5s;
}
.header .gnb__list--item .lang-list {
  display: none;
  position: absolute;
  top: 55px;
  right: 0;
  background-color: #000;
  border: 1px solid #5a5a5a;
  border-radius: 6px;
}
.header .gnb__list--item .lang-list a {
  opacity: 0.2;
  display: block;
  padding: 6px 13px;
  color: #fff;
}
.header.on .logo a {
  filter: invert(1);
}

.dark .header .gnb__list--item,
.header.on .gnb__list--item {
  color: #fff;
  transition: color 0.5s;
}

.dark .header .gnb__list--item .btn-lang svg,
.header.on .gnb__list--item .btn-lang svg {
  filter: invert(0);
  transition: filter 0.5s;
}

#section--main .mainCont--wrap {
  position: relative;
  width: 100%;
  height: 600vh;
}
#section--main .mainCont--wrap .mainCont {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#section--main .mainCont--wrap .mainCont video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section--main .mainCont--wrap .mainCont .text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#section--main .mainCont--wrap .mainCont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}
#section--main .mainCont--wrap .mainCont .ic-arrow {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

#section--keyword .keywordCont--wrap {
  width: 100%;
  height: 500vh;
}
#section--keyword .keywordCont--wrap .keywordCont {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#section--keyword .keywordCont--wrap .keywordCont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 1;
}
#section--keyword .keywordCont--wrap .keywordCont--text {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#section--keyword .keywordCont--wrap .keywordCont--text .text {
  font-size: 100px;
}
#section--keyword .keywordCont--wrap .keywordCont--bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#section--keyword .keywordCont--wrap .keywordCont--bg .bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/sc-keyword1.jpg") center/cover no-repeat;
}
#section--keyword .keywordCont--wrap .keywordCont--bg .bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/sc-keyword2.jpg") center/cover no-repeat;
}
#section--keyword .keywordCont--wrap .keywordCont--bg .bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/sc-keyword3.jpg") center/cover no-repeat;
}
#section--keyword .keywordCont--wrap .keywordCont > .text {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

#section--desc .descCont__top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
}
#section--desc .descCont__top > * {
  width: 50%;
}
#section--desc .descCont__top--tit {
  padding-bottom: 15%;
  font-size: 72px;
  line-height: 1.28em;
  font-weight: bold;
}
#section--desc .descCont__top--text {
  padding-top: 15%;
}
#section--desc .descCont__bottom {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(../images/sc-desc.jpg) center/cover no-repeat;
  --progress-width: 0;
}
#section--desc .descCont__bottom::before, #section--desc .descCont__bottom::after {
  content: "";
  position: absolute;
  width: var(--progress-width);
  height: 140px;
  background-color: #fff;
}
#section--desc .descCont__bottom::before {
  top: 0;
  right: 0;
}
#section--desc .descCont__bottom::after {
  bottom: 0;
  left: 0;
}
#section--desc .descCont__bottom--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#section--desc .descCont__bottom--text .text {
  width: fit-content;
  font-size: 72px;
}
#section--desc .descCont__bottom--text .text:nth-child(3) {
  margin-left: auto;
}

#section--gallery .galleryCont--wrap {
  width: 100%;
  height: 500vh;
  padding: 0 100px;
}
#section--gallery .galleryCont--wrap .galleryCont {
  display: flex;
}
#section--gallery .galleryCont--wrap .galleryCont__left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 470px;
  height: 100vh;
}
#section--gallery .galleryCont--wrap .galleryCont__left .text {
  font-size: 72px;
}
#section--gallery .galleryCont--wrap .galleryCont__right {
  flex: 0 0 calc(100% - 470px);
  height: 100%;
  padding: 100vh 0;
  box-sizing: border-box;
}
#section--gallery .galleryCont--wrap .galleryCont__right--rightBox {
  margin-left: auto;
}
#section--gallery .galleryCont--wrap .galleryCont__right .right__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100vh;
}
#section--gallery .galleryCont--wrap .galleryCont__right .right__box--img {
  width: 100%;
  height: auto;
}
#section--gallery .galleryCont--wrap .galleryCont__right .right__box--title {
  margin-top: 15px;
  font-weight: 600;
}